[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_3A004B000A504D4254363320-if00
restart_method: command

[temperature_sensor Main_mcu]
sensor_type: temperature_mcu
sensor_mcu: mcu

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 5000
#max_accel_to_decel: 10000
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 7.0

[save_variables]
filename: /home/ubuntu/printer_config/saved_variables.cfg

########################################
# EXP1 / EXP2 (display) pins
########################################

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
#     EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
#     # EXP2 header
#     EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
#     EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
#     # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 1.0

[firmware_retraction]
retract_length: .4
retract_speed: 60
unretract_speed: 40

[exclude_object]

[include steppers.cfg]
[include accessories.cfg]
[include bed.cfg]
#[include extruder.cfg]
[include extruder_can2.cfg]
# [include eddy.cfg]
[include cartographer.cfg]
[include bed_calibration.cfg]
#[include resonance_calibration.cfg]
[include resonance_settings.cfg]
[include fluidd_config.cfg]
[include macros.cfg]
[include fast_infill.cfg]
[include ../KAMP_Settings.cfg]